@media only screen and (min-width: 1030px) {
    .container-fluid {
        padding-right: 75px;
        padding-left: 75px;
    }
}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:901px) {
    .navbar-search {
        margin-right: 5px;
        width: 325px;
    }
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 0;
        padding-bottom: 0;
        margin: 15px 0;
    }
    .modal-dialog {
        width: 450px;
    }
}

@media only screen and (max-width:768px) {
    .navbar-search {
        width: 100%;
        margin-right: 0;
    }
    .runnerslist li {
        width: 49.5%;
    }
    .fixwidth {
        width: 100%;
        background: #fdfdfd;
        position: relative;
        left: 0;
    }
    .fixwidth .runlogo,
    .heightfixed {
        float: left;
        width: 48%;
    }
    .mapholderforrun {
        padding: 0;
    }
    
    .priceblock,
    .runmapblock,
    .calendarblock {
        border: none;
    }
    .leaderboard .summary td {
        width: 100%;
        float: none;
    }
    .xsnopaddingleft {
        padding: 0;
    }
    .xsnopaddingright {
        padding-right: 0;
    }
    .mapholderforrun #map {
        height: 300px;
    }
    .nav-tabs.nav-justified>li>a {
        margin: 0;
        border-right: 0;
    }
    .nav-tabs.nav-justified>.active>a,
    .nav-tabs.nav-justified>.active>a:focus,
    .nav-tabs.nav-justified>.active>a:hover {
        border-right: 0;
    }
    .bottomless {
        border-bottom: 1px solid #e5e5e5;
    }
    .summary .dropdown-menu {
        left: -97px;
    }
    .filters {
        margin-bottom: 0px;
    }
    .agegroup ul {
        display: none;
    }
    .leaderboard .summary td {
        height: 104.4px;
        padding: 15px 0;
    }
    .genderfilter span {
        line-height: 70px;
    }
    #buttongender{cursor: pointer;}
    #ulgender{display: none;}
}

@media (max-width: 550px) {
    .runsheader .text-align-right {
        text-align: left;
    }
    .runsheader .floatleft{float: none;}
    .runsheader .floatright{float: none;}
    .runsheader .btn {
        position: relative;
        margin-left: 10px;
        top: 0;
        width: 100%;
        margin: 20px 0;
    }
    .runsheader h1{
        line-height: 1.2em;
        margin-bottom: 20px;
    }
}
@media (max-width: 480px) {
    .runnerslist li {
        width: 100%;
        margin: 20px auto;
    }
    .runsmapdetailsside .runlogo {
        background-size: 50%;
    }
    .runsheader h1 {
        font-size: 25px;
        width: 100%;
    }
    .priceblock,
    .runmapblock,
    .calendarblock {
        height: auto;
        overflow: auto;
        padding: 10px 0;
    }
    .calendarblock span {
        line-height: 10px;
    }
    .runsmapdetailsside .runlogo {
        height: 200px;
    }
    .runmapblock span,
    .priceblock span {
        line-height: 35px;
    }
    .heightfixed img {
        width: 35px;
    }
    .heightfixed {
        height: auto;
    }
    .runmapblock span,
    .priceblock span {
        font-size: 15px;
    }
    .heightfixed .col-xs-4,
    .heightfixed .col-xs-8 {
        padding-left: 5px;
        padding-right: 5px;
    }
    
}