body {
    font-family: 'Source Sans Pro', sans-serif;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.width300 { width: 100px; }
.h1,
h1 {
    font-size: 33px;
    color: #1c20b3;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.h1line {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 10px;
}

h2 {
    font-size: 24px;
}

.h2line {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 10px;
    font-size: 29px;
    color: #00a856;
    color: #1c20b3;
    text-transform: uppercase;
    margin-bottom: 20px;
}

a {
    color: #00a856;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #01964d;
}

.text-align-right {
    text-align: right;
}

.navbar-brand {
    height: 60px;
    padding: 5px 15px;
}

.navbar-brand img {
    height: 100%;
}

.navbar-nav>li>a {
    line-height: 30px;
    color: #777;
    text-transform: uppercase;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus {
    background: transparent;
    color: #00a855;
}

.navbar-nav>li {
    height: 60px
}

.profile {
    padding: 13px 5px;
    box-sizing: border-box;
    height: 100%;
}

.borderright a {
    border-right: 1px solid #dedede;
}



.navbar-mor {
    background-color: #fafafa;
    border-color: #f8f8f8;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 0;
}

.navbar-mor .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-toggle {
    margin-top: 13px;
}

.search-section {
    margin-top: 60px;
    padding: 20px 0;
}

.navbar-search {
    height: 60px;
    line-height: 60px;
    float: right;
    width: 450px;
    margin-right: 13px;
}



/*Search*/

.navbar-search .form-group {
    margin-bottom: 0;
    margin-top: 13px;
    margin-right: 10px;
}

.navbar-search .form-control {
    border: none;
    border-bottom: 1px solid #f8f8f8;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.form-control-feedback {
    color: #777;
}


/*Search End*/

.first-section {
    margin-top: 60px;
    padding-top: 40px;
    background: url("/images/footer-bgflip.png");
    background-repeat: no-repeat;
}


/*Run*/
.runsblock {
    position: absolute;
    z-index: 1000;
    height: 560px;
    width: 400px;
    overflow: scroll;
    left: 15px;
    background: #fdfdfd;
}

.slideout-menu-toggle {
    position: absolute;
    left: 15px;
    background: #f8f8f8;
    z-index: 1000;
    width: 23px;
    top: 10px;
    height: 48px;
    cursor: pointer;
    background: rgba(255, 255, 255, 1) url(/images/closemap.png) 7px center/7px 10px no-repeat;
    border: none;
    border-left: 1px solid #D4D4D4;
    box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.hidesidemap {
    position: absolute;
    left: 414px;
    background: #f8f8f8;
    z-index: 1000;
    width: 23px;
    top: 10px;
    height: 48px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9) url(/images/closemap.png) 7px center/7px 10px no-repeat;
    border: none;
    border-left: 1px solid #D4D4D4;
    box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#runmapinfo {
    overflow: hidden
}
.runlogosmall, .nexttorunlogosmall{
    float: left;
    height: 100%;
}
.runlogosmall{width: 125px;position: relative;}
.runlogosmall img{position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
max-width: 80px;}
.nexttorunlogosmall{width: 275px;}
.runtitle {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    padding-top: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
}

.runtitle-modal {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 280px;
    float: left;
}

.rundetails {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: auto;
    width: 95%;
}

.modal .rundetails {
    font-size: 16px;
}

.rundetails span {
    float: right;
    font-size: 12px;
    padding-top: 4px;
}

.runinfoblock {
    height: 90px;
    background: #fdfdfd;
    display: block;
    width: 100%;
    float: left;
    border-bottom: 1px solid #dedede;
    color: #000;
    cursor: pointer;
}

.runinfoblock:last-child {
    border-bottom: none;
}

/*
.runinfoblock:before {
    content: '';
    height: 90px;
    display: block;
    width: 23%;
    float: left;
        background: url('/images/run-logo.png') no-repeat;
    background-size: 30px;
    background-position: center;
}
*/

.selectedruninfoblock {
    background: #fcfcfc;
    border-left: 5px solid #999cfe;
}

.runinfoblock:hover,
.runinfoblock:active,
.runinfoblock:focus {
    background: #fcfcfc;
    border-left: 5px solid #999cfe;
    text-decoration: none;
    color: #000;
}
.runinfoblock:hover .nexttorunlogosmall,
.runinfoblock:active .nexttorunlogosmall,
.runinfoblock:focus .nexttorunlogosmall {
    width: 270px;
}

.mapsection .col-sm-5 {
    padding-right: 0;
    max-height: 560px;
    overflow: scroll;
}

.mapsection .col-sm-7 {
    padding-left: 0;
}

.lineseparate {
    border-bottom: 1px solid #dedede;
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal-content .rundetails {
    width: 100%;
}

.recordandbest img {
    float: left;
    margin-right: 20px;
}

.recordandbest li {
    list-style: none;
    margin-bottom: 5px;
}

.recordandbest li span {
    float: right;
}

.btn {
    background: #999cfe;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #1b20b2;
    color: #fff;
}

.btn-green {
    background: #00a856;
}

.btn-green:focus,
.btn-green:active,
.btn-green:hover {
    background: #01964d;
}

.btn-join-modal {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #00a856;
}

.btn-join-modal:hover {
    background: #01964d;
}

.btn-fav-modal,
.btn-follow-modal {
    margin-top: 15px;
    float: left;
    width: 47.5%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-follow-modal {
    margin-right: 5%;
}

.close {
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background-color: #fff !important;
    opacity: 1;
    line-height: 30px;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.close:hover {
    opacity: 1;
}

.modal {
    position: absolute;
    top: 20%;
    right: -30%;
}

.slogen-section {
    margin: 80px 0 50px 0;
    text-align: center;
}

.slogen-section h1 {
    margin: 0;
    color: #00a856;
}

.feedcards-section {
    padding: 0 0 100px 0;
}

.feedcarddatemap#run1 {
    background: url('/images/mapid1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feedcarddatemap {
    font-weight: bold;
    font-size: 19px;
}

.joindbydays {
    background: url(/images/calendar.svg) no-repeat;
    background-position: center;
    background-size: 100px;
    height: 100px;
    padding-top: 15px;
}

.feedcardjoinby span {
    color: #999cfe;
    font-size: 22px;
    font-weight: bold;
}

.flex {
    display: table;
    width: 100%;
    height: 200px;
    margin: 0 0 15px 0;
}

.itemflex {
    width: 20%;
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align: center;
    border: 1px solid #dedede;
}

.itemflextable {
    width: 20%;
    vertical-align: middle;
}

.daystodaysnum,
.joindbydays {
    font-size: 70px;
    font-weight: bold;
    line-height: 1em;
}

.feedcardbutton a {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/*.feedcardbutton{background: ; border: 2px solid #00a856;}*/

.feedcardbuttonleave {
    font-size: 70px;
    font-weight: bold;
    line-height: 0.75em;
}

.block {
    padding: 30px 0;
    /* overflow: hidden; */
    position: relative;
    border-top: 1px solid #eeeeee;
    background: url("/images/footer-bg.png")
}

.circle-icon {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    margin-left: 1px;
    margin-right: 1px;
    color: rgba(0, 0, 0, 0.4);
}

.circle-icon:hover {
    border-color: #00a856;
}

.footer-navigation {
    font-size: 12px;
    padding: 10px 0;
    border-top: 1px solid #eeeeee;
    background: #1b20b2;
    color: #fff;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.table img {
    max-width: 100px;
}

.table th,
.table {
    text-align: center;
}

.table th {
    text-transform: uppercase;
    font-size: 17px;
}


/*Run End*/

/*
.logowithbg {
    text-align: center;
    height: 150px;
    background: url(/images/mapid1.png);
    background-size: cover;
    background-position: center center;
    position: relative;
}

.logowithbg .overlaywhite {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5)
}

.logowithbg img {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: auto;
    width: 60px;
}
*/
.logowithbg {
  position: relative;
}

.logowithbg .overlaywhite {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5)
}

.logowithbg .overlaywhite img {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: auto;
  width: 60px;
  height: auto;
}
.logowithbg .overlaywhite {
  top: 0;
}

.capacity {
    position: absolute;
    width: 60px;
    height: 50px;
    bottom: 0;
    right: 5px;
    line-height: 50px;
    font-weight: bold;
    background: url(/images/capacity08.png) no-repeat;
    background-size: 70%;
    background-position: center;
    font-size: 17px;
    color: #000;
}

.capacityruns {
    width: 60px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    background: url(/images/capacity08.png) no-repeat;
    background-size: 70%;
    background-position: center;
    font-size: 17px;
    color: #000;
    display: inline-block;
    margin: 0 10px;
}

.dateblock {
    border-top: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    display: block;
}

.titleblock {
    border-top: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    display: block;
    text-transform: uppercase;
    font-size: 17px;
    background: #1c20b3;
    color: #fff;
    border-color: #1c20b3;
}

.titleblock:hover a,
.titleblock:hover {
    color: #fff;
}

.xy,
.joinbuttonholder {
    text-align: center;
    padding: 15px 0;
}

.xy {
    padding: 18px 0;
}

.xy div {
    font-size: 50px;
    line-height: 1em;
}

.xyblock {
    border: 1px solid #ccc;
    margin: 10px 0px;
}

.borderright {
    border-right: 1px solid #ccc;
}

.joinbuttonholder {
    border-top: 1px solid #ccc;
}


/*Runs*/

.tab-content {
    min-height: 500px;
}

.nav-tabs.nav-justified a {
    color: #fff;
}

.nav-tabs.nav-justified {
    background: #999cfe;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
}

.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    border-right: 3px solid #fff;
}

.nav-justified>li>a:focus,
.nav-justified>li>a:hover {
    text-decoration: none;
    background: #1c20b3;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover {
    background: #1c20b3;
    color: #fff;
    border-right: 3px solid #fff;
}

.nav-tabs.nav-justified>li>a#contacta {
    border-right: 0;
}

.runsheader {
    margin-bottom: 0;
    padding: 10px 0;
    overflow: auto;
}
.runsheader .floatleft{float: left;}
.runsheader .floatright{float: right;}
.runsheader div {
    padding: 0;
}

.runsheader h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.runsheader h1,
.runsheader h2 {
    margin: 0 5px 0 0;
    line-height: 50px;
    display: inline-block;
}

.runsheader .btn {
    top: -4px;
    position: relative;
    margin-left: 10px;
}

.icon_heart_alt {
    display: inline-block;
    font-size: 20px;
    line-height: 36px;
    position: relative;
    top: -3px;
    color: #ff0000;
}

.btn-outline,
.btn-nooutline {
    padding: 3px 8px 3px 3px;
    border: 1px solid #999cfe;
    border-radius: 5px;
    color: #999cfe;
    text-transform: uppercase;
    position: relative;
    top: -5px;
    left: 7px;
    background: transparent;
}

.btn-outline.medium,
.btn-nooutline.medium {
    padding: 5px 10px;
    top: 0;
    left: 0;
}

.btn-nooutline {
    border: none;
}

.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
    border: 1px solid #999cfe;
    color: #999cfe;
}
/*

#details .col-sm-12 {
    margin: 20px auto;
}
*/

.elevation {
    margin: 20px auto;
}

.elevation .area {
    fill: #b3b8fe;
    stroke-width: 0;
}

.elevation #elevationChart .area {
    fill: #b3b8fe;
}

.elevation #elevationChart .axis line,
.elevation #elevationChart .axis path {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #000;
}

.runsmapdetailsside {
    text-align: center;
    background: #fdfdfd;
}
.heightfixed{height: 300px;}
.fixwidth{width: 300px;position:absolute; z-index:100; left:15px;}
.mapholderforrun{padding-right: 0; padding-left: 150px;}
.runsmapdetailsside .runlogo {
    height: 300px;
    position: relative;
}
.runsmapdetailsside .runlogo img{
    max-width: 200px;
    
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    
}

.runheaderdetails .col-md-3,
.runheaderdetails .col-md-9 {
    padding: 0;
}

.runheaderdetails {
    background: #fdfdfd;
}

.runheaderdetails.row {
    margin: 0;
}

.priceblock,
.runmapblock,
.calendarblock {
    padding: 17px 0;
    height: 100px;
    border-top: 1px solid #ccc;
}

.runmapblock span,
.priceblock span {
    line-height: 64px;
    text-transform: uppercase;
    font-size: 25px;
}

.calendarblock span {
    line-height: 20px;
    font-size: 15px;
}

.tab-pane .container-fluid {
    margin-top: 20px;
    padding: 0;
}

.elevation {
    height: 150px;
    margin: 10px 0;
}

.elevation .title {
    background-color: #dadada;
    font-size: 18px;
    font-weight: 400;
    line-height: 148px;
    color: #898989;
    float: left;
    width: 100px;
    text-align: center;
    border-right: 1px solid #898989
}

.elevation #elevationChart {
    height: 100%;
    padding: 0
}

.elevation #elevationChart .axis line,
.elevation #elevationChart .axis path {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #000
}

.elevation #elevationChart .area {
    fill: #b3b8fe
}

.elevation .area {
    fill: #b3b8fe;
    stroke-width: 0
}

.detailsp {
    font-size: 17px;
}

.detailsp strong {
    width: 100px;
    display: inline-block;
}

.runnerslist {
    padding: 0;
}

.runnerslist li {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 24.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.runnerslist img, .circleavatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.runnerslist li span {
    display: block;
}

.filters {
    margin-bottom: 50px;
}

.btn-nooutline.active {
    background: #1b20b2;
    color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filtercount {
    text-align: right;
}

.filtercount img {
    width: 30px;
    margin-right: 5px;
}

.filtercount img,
.filtercount span {
    float: right;
    display: block;
    line-height: 30px;
}

.filtercount span {
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.table-text-left {
    text-align: left;
}

.dropdown-filter {
    background: transparent;
    border: none;
    padding: 0;
    top: -3px;
    position: relative;
}

.filterbyblock{margin-bottom: 10px;float: right;}

#contact p{font-size: 17px;}
.contactdetails{
    padding: 30px 0;
}
.contactdetails img{float: left;margin-right: 30px;}
.contactdetails p{float: left;margin-top: 30px;}
.bottomless{margin-bottom: 0;}
.leaderboard table tr th,
.leaderboard table tr td {
    vertical-align: middle;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5
}


.leaderboard .summary td {
    padding: 10px 20px;
    text-align: center
}

.leaderboard .summary td.callout a {
    line-height: 1.2em
}

.leaderboard .summary h5 {
    color: #999;
    font-size: 0.9em;
    line-height: 1em
}

.leaderboard .summary strong {
    font-weight: 400;
    font-size: 2.2em;
    line-height: 1.2em
}

.line25{line-height: 2.5em;}
.summary td:first-child {width: 250px;}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.leaderboard .filters {
    border: 1px solid #e5e5e5;
}
 .leaderboard .filters>li>a,  .leaderboard .filters>li>.option {
    padding: 8px 10px 8px 20px;
}
.leaderboard .filters a, .leaderboard .filters .option {
    padding: 4px 10px 4px 20px;
    margin-bottom: 1px;
    color: #333;
    display: block;
}
.leaderboard .filters a:hover, .leaderboard .filters a:active, .leaderboard .filters a.selected{
    background: #1c20b3;
    color: #fff;
    
}
.leaderboard .filters .option {
    background: linear-gradient(#f5f5f5, #f1f1f1);
}
.leaderboard .filters a {
    padding-left: 40px;
}
@media (max-width: 768px) {
    .leaderboard .summary td {
        display: block;
        width: 50%;
        float: left
    }
}

@media (max-width: 480px) {
    .leaderboard .summary td {
        width: 100%;
        float: none
    }
}

.scrolltable{overflow: scroll;}

/*Runs*/

/*Feed*/
.feedpage .dateblock span{
    text-transform: uppercase;
    font-size: 20px;
    display: block;
}
.feedpage .dateblock {
    font-size: 18px;
}
.profileimg{
    height: 200px;
    position: relative;
    overflow: hidden;
}
.profileimg img{
        position: absolute;
    height: 250px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.profilename{
    height: 57px;
    line-height: 57px;
    text-align: center;
    font-size: 19px;
border-top: 1px solid #ccc;  
}
.userachievementmaptable{
     border-left: 1px solid #ccc;
   
    height: 57px;
}
.userachievement{
    border: 1px solid #ccc;
    overflow: auto;
}
.userachievementbutton{

    height: 57px;
    line-height: 57px;
    text-align: center;
}
.userachievementlogo{text-align: center;}
.userachievementmaptable .table>tbody>tr>td{border-right: 1px solid #ccc;}
.userachievementmap, .userachievementprofile, .userachievementlogo{
    float: left;
}
.userachievementprofile{width: 25%;}
.userachievementlogo{
    width: 20%;
}
.userachievementmap{width: 55%;}
/*Feed*/